/* ----------ESTRUCTURA----------- */

.anchoMaximo{
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ancho50{
    flex-basis: 50%;
}

.ancho100{
    flex-basis: 100%;
}

/*  Desayunar  */

.desayunar{
    padding: 40px;
    background: url("../imagenes/fondo2.jpg") left center / cover;

    color: #23aa37;
    text-align: center;
}

.desayunar h2{
    line-height: 1.1em;
    font-size: 3em;
}

/* zona roja y zona crema */

.zona-roja, .zona-crema{
    padding: 50px;
    text-align: center;
}

.zona-roja h2, .zona-crema h2{
    margin: 30px;
}

.zona-roja a{
    color: #ded6c0;
    text-decoration: none;
}

.zona-roja p{
    color: #ded6c0;
    text-decoration: none;
}



.zona-crema a{
    color: #ffffff;
    text-decoration: none;
}

.zona-roja a:hover, .zona-crema a:hover{
    text-decoration: none;
}

.zona-roja{
    background: #54621c;
    color: #ded6c0;
}

.zona-crema{
    background:  #bcba04;
    color:#505050;
}

.foto1{
    min-height: 300px;
    flex-basis: 50%;
    background: url('../imagenes/kalahari.jpg') center center / cover;

}
.foto2{
    min-height: 300px;
    flex-basis: 50%;
    background: url('../imagenes/leonaycachorro.jpg') center center / cover;

}

.padreFlex1{
    display: flex;
    
}

.boton{
    border: none;
    
}

