*{
  box-sizing: border-box;
}

body{
  background: #F5F5F5;
}


header{
    background: #A3A4A2;
    padding: 1em;
  }

nav{
     background: #E3E3E3;
     padding: 1em;
     text-align: center;
}
nav a{  
  padding: 0 0.6em;
  color: #5D5D5D;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}
header h1{  
  font-size: 3em;
  color: #FFF;
  text-align: center;
}

#caja-img img{
  border-bottom: 10px solid #E5E5E5;
}

#caja-img img{
  width: 100%;
}


main{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2em;
}
 
.info-practica{
  padding:1em 2em;
  margin-bottom: 4em;
  background: #738671;
  color:#FFF;
}
 
.info-practica li{
 margin: 0.5em 0;
}

footer{
  background: #888888;
  border-top: 10px solid #E5E5E5;
  padding: 2em;
  text-align: center;
  color: #F1FEE6;
}


/*formulario*/

 
form{
  width: 80%;
  margin: 0 auto;


}
 form a{
  padding:0;
  margin: 0;
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 0.9em;
  color: #858585;
}
 form a:hover {
  color: #6A9148;
}
 
 
.asterisco{
  color: red;
  font-size: 0.8em;
  padding-right: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea{
    width: 100%;
    padding: 0.8em;
    margin-top: 0.5em;
    border: none;
    outline: none;
    color: #6E6E6E;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: none;
 }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus{
     -webkit-box-shadow: 2px 2px 2px #CECECE;
     -moz-box-shadow: 2px 2px 2px #CECECE;
     box-shadow: 2px 2px 2px #CECECE;
 }  
 

fieldset{
  border:none;
  padding:0;
}
input[name="dato-clausulas"]{
  margin-left: 1em;
}
label[for="dato-acepto-clausulas"]{
  margin-right: 2em;
}

label,legend{
  font-weight: bold;
  color:#667580;
}

input+label{
  font-weight: normal;
  color:#3C3C3C;
  font-size: 0.9em;
}
 
input[type="submit"]{
  width: 100%;
  margin: 2em 0 3em 0;
  padding: 1em;
  border: 1px solid #DEDEDE;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;  
  background: #595A58;
  color: #FFF;
  font-size: 1.3em;
  cursor: pointer;
}
input[type="submit"]:hover{
  background: #7E7E7E;
}

 
.campos{
  margin-bottom: 1.8em;
}

 
.bloque-campos{
  margin: 0.5em 0 0 1em;
 }

 
.bloque-campos label{
  margin:0 1em 0.2em 0;
 }
/* Focus campos formulario */
#dato-usuario:focus{
	border:4px solid yellow;
}
#dato-email:focus, #dato-telefono:focus, #dato-emailrepetido:focus{
	border:4px solid yellow;
}
#dato-dni:focus, #dato-ssocial:focus{
	border:4px solid yellow;
}
#caja-servicios:focus, #area-tematica:focus{
	border:4px solid yellow;

}
#dato-telefono:focus, #dato-clausulas:focus{
	border: 4px solid yellow;
}
#caja-guias:focus,  #dato-consulta:focus{
  border: 4px solid yellow;
}
#caja-recuento{
  display: inline-block;
  padding: 10px;
  margin: 15px;
  font-size: 0.8em;
  border: 1px solid #000;
}
.mensaje-error{
  display: inline-block;
  padding: 5px 5px 5ps 15px;
  margin-bottom: 5px;
  font-size: 0.8em;
  color: red;
  display:none;
}
.margenes{
  margin:50px;
}